[project]
authors = ["Kolen Cheung <christian.kolen@gmail.com>"]
channels = ["conda-forge", "handley-lab"]
description = "A conda environment for developing PyAutoLens and its dependencies."
name = "log-PyAutoLens"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
anesthetic = { version = "2.8.14", channel = "handley-lab" }
astropy = ">=5.0,<=6.1.2"
astunparse = "==1.6.3"
corner = "==2.2.2"
decorator = ">=4.0.0"
dill = ">=0.3.1.1"
dynesty = "==2.1.4"
emcee = ">=3.1.6"
h5py = ">=3.11.0"
ipython = ">=5.3.0"
jinja2 = ">=2.9.6"
jsonpickle = ">=1.4.1"
matplotlib = ">=3.7.0"
nautilus-sampler = "==1.0.4"
networkx = ">=1.11"
numpy = ">=1.24.0,<=2.0.1"
numpydoc = ">=1.0.0"
psutil = "==6.1.0"
pyprojroot = "==0.2.0"
pyswarms = "==1.3.0"
pyyaml = ">=6.0.1"
scikit-image = "<=0.24.0"
scikit-learn = "<=1.5.1"
scipy = "<=1.14.0"
sqlalchemy = "==2.0.32"
threadpoolctl = ">=3.1.0,<=3.2.0"
timeout-decorator = "==0.5.0"
typing_inspect = ">=0.4.0"
python-xxhash = "<=3.4.1"

[pypi-dependencies]
colossus = "==1.3.1"
gprof2dot = "==2021.2.21"
pyvis = "==0.3.2"

autoconf = { path = "packages/PyAutoConf", editable =   true}
autofit = { path = "packages/PyAutoFit", editable = true}
autoarray = { path = "packages/PyAutoArray", editable = true}
autogalaxy = { path = "packages/PyAutoGalaxy", editable =   true}
autolens = { path = "packages/PyAutoLens", editable =   true}
